* {
  margin: 0;
  border: 0;
}

body {
  color: #2e2525; /* dark gray*/
  background-color: #fff6d9;
}

img{
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
}

.title{
  justify-content: center;
  align-items: center;
}

.title h1,
.title p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 5em;
  font-weight: bolder;
}

.title p{
  font-size: 1.3em;
  font-style: italic;
  color: rgb(155, 155, 155);
}

h2{
  font-size: 2em;
  font-style: italic;
}

ul{
  list-style-type: circle;
}

a{
  text-decoration: none;
}

a:link {
  color: #c70039;
}

a:hover {
  color: #000;
}

a:visited {
  color: #c70039;
}

.nav-bar{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #;
  margin: auto;
}

.nav-bar li{
  display: inline;
  padding: 0px 10px;
  text-decoration: underline;
}

.nav-bar li a:link{
  color: #737443;
}

.nav-bar li a:hover{
  color: #a4a658;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffde70;
  font-size: 1.1em;
  height: 30px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.page{
  background-color: #ffeaa3;
  padding: 10px;
  border-radius: 10px;
}

/* DESKTOP */
@media only screen and (min-width: 900px){
  .page{
    width: 900px;
    margin: 0 auto;
  }
}

/* TABLET */
@media only screen and (max-width: 800px){

}

/* SMART PHONES */
@media only screen and (max-width: 500px){

}
